In [14]:
from pathlib import Path
import requests


def download_one_file_of_raw_data(year: int, month: int) -> Path:
    URL = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet'
    response = requests.get (URL)
    
    if response.status_code == 200:
        path = f'../data/raw/rides_{year}-{month:02d}.parquet'
        open (path, "wb").write(response.content)
        return path
    else:
        raise Exception (f'{URL} is not available')

In [15]:
download_one_file_of_raw_data(2025, 1)

'../data/raw/rides_2025-01.parquet'

In [17]:
import pandas as pd

rides = pd.read_parquet('../data/raw/rides_2025-01.parquet')
rides.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [18]:
rides = rides[['tpep_pickup_datetime', 'PULocationID']]

rides.rename(columns={
    'tpep_pickup_datetime': 'pickup_datetime',
    'PULocationID': 'pickup_location_id',
}, inplace=True)

rides.head(10)

      pickup_datetime  pickup_location_id
0 2025-01-01 00:18:38                 229
1 2025-01-01 00:32:40                 236
2 2025-01-01 00:44:04                 141
3 2025-01-01 00:14:27                 244
4 2025-01-01 00:21:34                 244
5 2025-01-01 00:48:24                 239
6 2025-01-01 00:14:47                 170
7 2025-01-01 00:39:27                 234
8 2025-01-01 00:53:43                 148
9 2025-01-01 00:00:02                 237

In [19]:
rides['pickup_datetime'].describe()

count                       3475226
mean     2025-01-17 11:02:55.910964
min             2024-12-31 20:47:55
25%             2025-01-10 07:59:01
50%             2025-01-17 15:41:33
75%             2025-01-24 19:34:06
max             2025-02-01 00:00:44
Name: pickup_datetime, dtype: object

In [20]:
rides = rides[rides.pickup_datetime >= '2025-01-01']
rides = rides[rides.pickup_datetime < '2025-02-01']

rides['pickup_datetime'].describe()

count                       3475204
mean     2025-01-17 11:03:04.165774
min             2025-01-01 00:00:00
25%      2025-01-10 07:59:10.750000
50%      2025-01-17 15:41:36.500000
75%             2025-01-24 19:34:10
max             2025-01-31 23:59:59
Name: pickup_datetime, dtype: object

In [22]:
rides.to_parquet('../data/transformed/validated_rides_2025_01.parquet')